In [1]:
import pandas as pd

In [8]:
fa_cols = ['تاریخ',
 'کیلومتر کارکرد',
 'شماره شاسی',
 'سازنده',
 'Model',
 'Type',
 'قیمت بازار',
 'قیمت کارخانه',
 'توضیحات']
en_cols = ['Date',
 'Milage',
 'VIN',
 'Made',
 'Model',
 'Type',
 'Price',
 'Order',
 'Explain']

In [9]:
cols_dict= dict(zip(fa_cols , en_cols))

In [2]:
df1 = pd.read_excel('./Data/mordad.xlsx')
df2 = pd.read_excel('./Data/shhrivar.xlsx')
df3 = pd.read_excel('./Data/tir.xlsx')

In [12]:
pd.concat([df1, df2, df3]).rename(columns = cols_dict).sort_values(by="Milage").to_excel("./Data/season.xlsx",index =False)

In [11]:
season_data

,Date,dfdgh,month,Milage,VIN,Made,Model,Type,Price,Order,Explain
37,1400,25,تیر,3385.0,NA0000000000000317,ایرانخودرو,پژو206,Sedan,27953379.0,21000000.0,پوسیدگی
51,1400,21,مرداد,4168.0,NA0000000000000251,ایرانخودرو,پژو206,Sedan,27113849.0,21000000.0,پوسیدگی
3,1400,28,شهریور,4863.0,NA0000000000000382,ایرانخودرو,پژو206,Sedan,26671985.0,21000000.0,پوسیدگی
46,1400,15,شهریور,8268.0,NA0000000000000276,سایپا,پراید,Hatchback,22404505.0,17000000.0,بدون تصادف
23,1400,18,مرداد,8355.0,NA0000000000000341,سایپا,پراید,Hatchback,23412877.0,17000000.0,بدون تصادف
...,...,...,...,...,...,...,...,...,...,...,...
48,1400,13,شهریور,33959.0,NA0000000000000274,سایپا,پراید,Hatchback,18738238.0,17000000.0,فابریک
9,1400,10,تیر,36638.0,NA0000000000000209,سایپا,پراید,Hatchback,21983510.0,17000000.0,فابریک
24,1400,17,مرداد,37360.0,NA0000000000000340,سایپا,پراید,Hatchback,22836393.0,17000000.0,فابریک
47,1400,14,شهریور,37886.0,NA0000000000000275,سایپا,پراید,Hatchback,21931446.0,17000000.0,فابریک
19,1400,11,شهریور,NaN,NA0000000000000365,NaN,پژو206,Hatchback,27127917.0,22000000.0,بی رنگ

In [25]:
season_data[season_data["Milage"] > 36000]

,Date,dfdgh,month,Milage,VIN,Made,Model,Type,Price,Order,Explain
9,1400,10,تیر,36638.0,NA0000000000000209,سایپا,پراید,Hatchback,21983510.0,17000000.0,فابریک
24,1400,17,مرداد,37360.0,NA0000000000000340,سایپا,پراید,Hatchback,22836393.0,17000000.0,فابریک
47,1400,14,شهریور,37886.0,NA0000000000000275,سایپا,پراید,Hatchback,21931446.0,17000000.0,فابریک

In [35]:
# season_data.drop_duplicates(subset= "Explain")

sample_ = season_data.sample(frac = 0.1)

In [36]:
sample_

,Date,dfdgh,month,Milage,VIN,Made,Model,Type,Price,Order,Explain
58,1400,28,مرداد,29558.0,NA0000000000000258,ایرانخودرو,پژو206,Sedan,25703835.0,21000000.0,بی رنگ
2,1400,9,مرداد,20397.0,NA0000000000000394,ایرانخودرو,پژو206,Sedan,23437833.0,21000000.0,بدون تصادف
18,1400,19,تیر,24778.0,NA0000000000000218,سایپا,پراید,Sedan,13488329.0,15000000.0,تصادف
23,1400,7,شهریور,27423.0,NA0000000000000361,ایرانخودرو,پژو206,Hatchback,NaN,20000000.0,بیرنگ
57,1400,5,تیر,9646.0,NA0000000000000297,ایرانخودرو,پژو206,Hatchback,24895086.0,20000000.0,بدون رنگ
2,1400,29,شهریور,19112.0,NA0000000000000383,ایرانخودرو,پژو206,Sedan,28726761.0,21000000.0,بیرنگ
39,1400,22,شهریور,24298.0,NA0000000000000283,سایپا,پراید,Sedan,15019667.0,15000000.0,زدگی
32,1400,29,شهریور,12991.0,NA0000000000000290,ایرانخودرو,پژو206,Hatchback,26786798.0,20000000.0,فابریک
55,1400,7,تیر,20355.0,NA0000000000000299,ایرانخودرو,پژو206,Hatchback,26601621.0,22000000.0,بی رنگ
17,1400,18,تیر,23443.0,NA0000000000000217,سایپا,پراید,Sedan,14578952.0,15000000.0,زدگی
40,1400,22,تیر,26764.0,NA0000000000000314,ایرانخودرو,پژو206,Sedan,29318797.0,21000000.0,تصادف
47,1400,15,تیر,28119.0,NA0000000000000307,ایرانخودرو,پژو206,Hatchback,27640974.0,22000000.0,بدون تصادف
29,1400,30,تیر,25316.0,NA0000000000000229,ایرانخودرو,پژو206,Hatchback,26310937.0,20000000.0,پوسیدگی
21,1400,22,تیر,12477.0,NA0000000000000221,سایپا,پراید,Sedan,16305205.0,15000000.0,بی رنگ
3,1400,4,تیر,26210.0,NA0000000000000203,سایپا,پراید,Hatchback,19220924.0,17000000.0,تصادف
45,1400,16,شهریور,10268.0,NA0000000000000277,سایپا,پراید,Hatchback,20555338.0,17000000.0,تصادف
63,1400,8,مرداد,24240.0,NA0000000000000331,سایپا,پراید,Hatchback,16266533.0,17000000.0,NaN
4,1400,27,شهریور,31414.0,NA0000000000000381,ایرانخودرو,پژو206,Sedan,29657482.0,21000000.0,تصادف جزیی
34,1400,27,شهریور,18192.0,NA0000000000000288,سایپا,پراید,Sedan,16921579.0,15000000.0,بی رنگ

In [41]:
season_data.nlargest(3, "Price")

,Date,dfdgh,month,Milage,VIN,Made,Model,Type,Price,Order,Explain
0,1400,31,شهریور,23913.0,NA0000000000000385,ایرانخودرو,پژو206,Sedan,29906125.0,21000000.0,بی رنگ
4,1400,27,شهریور,31414.0,NA0000000000000381,ایرانخودرو,پژو206,Sedan,29657482.0,21000000.0,تصادف جزیی
52,1400,22,مرداد,19371.0,NA0000000000000252,ایرانخودرو,پژو206,Sedan,29518050.0,21000000.0,بیرنگ

In [43]:
season_data.nsmallest(3,"Price")

,Date,dfdgh,month,Milage,VIN,Made,Model,Type,Price,Order,Explain
38,1400,23,شهریور,25200.0,NA0000000000000284,سایپا,پراید,Sedan,12817274.0,15000000.0,تصادف
18,1400,19,تیر,24778.0,NA0000000000000218,سایپا,پراید,Sedan,13488329.0,15000000.0,تصادف
16,1400,25,مرداد,23776.0,NA0000000000000348,سایپا,پراید,Sedan,13682725.0,15000000.0,زدگی

In [49]:
top10 = season_data.head(150)

In [50]:
top10

,Date,dfdgh,month,Milage,VIN,Made,Model,Type,Price,Order,Explain
37,1400,25,تیر,3385.0,NA0000000000000317,ایرانخودرو,پژو206,Sedan,27953379.0,21000000.0,پوسیدگی
51,1400,21,مرداد,4168.0,NA0000000000000251,ایرانخودرو,پژو206,Sedan,27113849.0,21000000.0,پوسیدگی
3,1400,28,شهریور,4863.0,NA0000000000000382,ایرانخودرو,پژو206,Sedan,26671985.0,21000000.0,پوسیدگی
46,1400,15,شهریور,8268.0,NA0000000000000276,سایپا,پراید,Hatchback,22404505.0,17000000.0,بدون تصادف
23,1400,18,مرداد,8355.0,NA0000000000000341,سایپا,پراید,Hatchback,23412877.0,17000000.0,بدون تصادف
...,...,...,...,...,...,...,...,...,...,...,...
30,1400,31,تیر,26277.0,NA0000000000000230,ایرانخودرو,پژو206,Hatchback,29491057.0,20000000.0,بیرنگ
7,1400,8,تیر,26333.0,NA0000000000000207,سایپا,پراید,Hatchback,18421285.0,17000000.0,بی رنگ
47,1400,17,مرداد,26419.0,NA0000000000000247,ایرانخودرو,پژو206,Sedan,24246302.0,21000000.0,بدون تصادف
48,1400,18,مرداد,26552.0,NA0000000000000248,ایرانخودرو,پژو206,Sedan,28120014.0,21000000.0,تصادف
40,1400,22,تیر,26764.0,NA0000000000000314,ایرانخودرو,پژو206,Sedan,29318797.0,21000000.0,تصادف

In [53]:
season_data

,Date,dfdgh,month,Milage,VIN,Made,Model,Type,Price,Order,Explain
37,1400,25,تیر,3385.0,NA0000000000000317,ایرانخودرو,پژو206,Sedan,27953379.0,21000000.0,پوسیدگی
51,1400,21,مرداد,4168.0,NA0000000000000251,ایرانخودرو,پژو206,Sedan,27113849.0,21000000.0,پوسیدگی
3,1400,28,شهریور,4863.0,NA0000000000000382,ایرانخودرو,پژو206,Sedan,26671985.0,21000000.0,پوسیدگی
46,1400,15,شهریور,8268.0,NA0000000000000276,سایپا,پراید,Hatchback,22404505.0,17000000.0,بدون تصادف
23,1400,18,مرداد,8355.0,NA0000000000000341,سایپا,پراید,Hatchback,23412877.0,17000000.0,بدون تصادف
...,...,...,...,...,...,...,...,...,...,...,...
48,1400,13,شهریور,33959.0,NA0000000000000274,سایپا,پراید,Hatchback,18738238.0,17000000.0,فابریک
9,1400,10,تیر,36638.0,NA0000000000000209,سایپا,پراید,Hatchback,21983510.0,17000000.0,فابریک
24,1400,17,مرداد,37360.0,NA0000000000000340,سایپا,پراید,Hatchback,22836393.0,17000000.0,فابریک
47,1400,14,شهریور,37886.0,NA0000000000000275,سایپا,پراید,Hatchback,21931446.0,17000000.0,فابریک
19,1400,11,شهریور,NaN,NA0000000000000365,NaN,پژو206,Hatchback,27127917.0,22000000.0,بی رنگ

In [55]:
season_data[['VIN' , "Price"]]

                   VIN       Price
37  NA0000000000000317  27953379.0
51  NA0000000000000251  27113849.0
3   NA0000000000000382  26671985.0
46  NA0000000000000276  22404505.0
23  NA0000000000000341  23412877.0
..                 ...         ...
48  NA0000000000000274  18738238.0
9   NA0000000000000209  21983510.0
24  NA0000000000000340  22836393.0
47  NA0000000000000275  21931446.0
19  NA0000000000000365  27127917.0

[193 rows x 2 columns]

In [61]:
season_data.filter(regex= '^M')

     Milage        Made   Model
37   3385.0  ایرانخودرو  پژو206
51   4168.0  ایرانخودرو  پژو206
3    4863.0  ایرانخودرو  پژو206
46   8268.0       سایپا   پراید
23   8355.0       سایپا   پراید
..      ...         ...     ...
48  33959.0       سایپا   پراید
9   36638.0       سایپا   پراید
24  37360.0       سایپا   پراید
47  37886.0       سایپا   پراید
19      NaN         NaN  پژو206

[193 rows x 3 columns]

In [62]:
season_data

,Date,dfdgh,month,Milage,VIN,Made,Model,Type,Price,Order,Explain
37,1400,25,تیر,3385.0,NA0000000000000317,ایرانخودرو,پژو206,Sedan,27953379.0,21000000.0,پوسیدگی
51,1400,21,مرداد,4168.0,NA0000000000000251,ایرانخودرو,پژو206,Sedan,27113849.0,21000000.0,پوسیدگی
3,1400,28,شهریور,4863.0,NA0000000000000382,ایرانخودرو,پژو206,Sedan,26671985.0,21000000.0,پوسیدگی
46,1400,15,شهریور,8268.0,NA0000000000000276,سایپا,پراید,Hatchback,22404505.0,17000000.0,بدون تصادف
23,1400,18,مرداد,8355.0,NA0000000000000341,سایپا,پراید,Hatchback,23412877.0,17000000.0,بدون تصادف
...,...,...,...,...,...,...,...,...,...,...,...
48,1400,13,شهریور,33959.0,NA0000000000000274,سایپا,پراید,Hatchback,18738238.0,17000000.0,فابریک
9,1400,10,تیر,36638.0,NA0000000000000209,سایپا,پراید,Hatchback,21983510.0,17000000.0,فابریک
24,1400,17,مرداد,37360.0,NA0000000000000340,سایپا,پراید,Hatchback,22836393.0,17000000.0,فابریک
47,1400,14,شهریور,37886.0,NA0000000000000275,سایپا,پراید,Hatchback,21931446.0,17000000.0,فابریک
19,1400,11,شهریور,NaN,NA0000000000000365,NaN,پژو206,Hatchback,27127917.0,22000000.0,بی رنگ

In [68]:
season_data.query("Milage > 36000 or Price > 22000000")

,Date,dfdgh,month,Milage,VIN,Made,Model,Type,Price,Order,Explain
37,1400,25,تیر,3385.0,NA0000000000000317,ایرانخودرو,پژو206,Sedan,27953379.0,21000000.0,پوسیدگی
51,1400,21,مرداد,4168.0,NA0000000000000251,ایرانخودرو,پژو206,Sedan,27113849.0,21000000.0,پوسیدگی
3,1400,28,شهریور,4863.0,NA0000000000000382,ایرانخودرو,پژو206,Sedan,26671985.0,21000000.0,پوسیدگی
46,1400,15,شهریور,8268.0,NA0000000000000276,سایپا,پراید,Hatchback,22404505.0,17000000.0,بدون تصادف
23,1400,18,مرداد,8355.0,NA0000000000000341,سایپا,پراید,Hatchback,23412877.0,17000000.0,بدون تصادف
...,...,...,...,...,...,...,...,...,...,...,...
38,1400,24,تیر,31610.0,NA0000000000000316,ایرانخودرو,پژو206,Sedan,28157956.0,21000000.0,تصادف جزیی
9,1400,10,تیر,36638.0,NA0000000000000209,سایپا,پراید,Hatchback,21983510.0,17000000.0,فابریک
24,1400,17,مرداد,37360.0,NA0000000000000340,سایپا,پراید,Hatchback,22836393.0,17000000.0,فابریک
47,1400,14,شهریور,37886.0,NA0000000000000275,سایپا,پراید,Hatchback,21931446.0,17000000.0,فابریک
19,1400,11,شهریور,NaN,NA0000000000000365,NaN,پژو206,Hatchback,27127917.0,22000000.0,بی رنگ

In [69]:
season_data[(season_data["Milage"]> 36000) | (season_data["Price"]> 22000000)]

,Date,dfdgh,month,Milage,VIN,Made,Model,Type,Price,Order,Explain
37,1400,25,تیر,3385.0,NA0000000000000317,ایرانخودرو,پژو206,Sedan,27953379.0,21000000.0,پوسیدگی
51,1400,21,مرداد,4168.0,NA0000000000000251,ایرانخودرو,پژو206,Sedan,27113849.0,21000000.0,پوسیدگی
3,1400,28,شهریور,4863.0,NA0000000000000382,ایرانخودرو,پژو206,Sedan,26671985.0,21000000.0,پوسیدگی
46,1400,15,شهریور,8268.0,NA0000000000000276,سایپا,پراید,Hatchback,22404505.0,17000000.0,بدون تصادف
23,1400,18,مرداد,8355.0,NA0000000000000341,سایپا,پراید,Hatchback,23412877.0,17000000.0,بدون تصادف
...,...,...,...,...,...,...,...,...,...,...,...
38,1400,24,تیر,31610.0,NA0000000000000316,ایرانخودرو,پژو206,Sedan,28157956.0,21000000.0,تصادف جزیی
9,1400,10,تیر,36638.0,NA0000000000000209,سایپا,پراید,Hatchback,21983510.0,17000000.0,فابریک
24,1400,17,مرداد,37360.0,NA0000000000000340,سایپا,پراید,Hatchback,22836393.0,17000000.0,فابریک
47,1400,14,شهریور,37886.0,NA0000000000000275,سایپا,پراید,Hatchback,21931446.0,17000000.0,فابریک
19,1400,11,شهریور,NaN,NA0000000000000365,NaN,پژو206,Hatchback,27127917.0,22000000.0,بی رنگ

In [80]:
df_dropna = season_data.dropna()

In [83]:
df_dropna.query("Explain.str.startswith('بی')" , engine= 'python' ).head(40)

,Date,dfdgh,month,Milage,VIN,Made,Model,Type,Price,Order,Explain
56,1400,6,تیر,11117.0,NA0000000000000298,ایرانخودرو,پژو206,Hatchback,27161508.0,22000000.0,بی رنگ
32,1400,2,مرداد,11875.0,NA0000000000000232,ایرانخودرو,پژو206,Hatchback,27836917.0,22000000.0,بی رنگ
21,1400,22,تیر,12477.0,NA0000000000000221,سایپا,پراید,Sedan,16305205.0,15000000.0,بی رنگ
21,1400,9,شهریور,13314.0,NA0000000000000363,ایرانخودرو,پژو206,Hatchback,28064706.0,22000000.0,بی رنگ
12,1400,29,مرداد,13831.0,NA0000000000000352,سایپا,پراید,Sedan,16797426.0,15000000.0,بی رنگ
35,1400,26,شهریور,13930.0,NA0000000000000287,سایپا,پراید,Sedan,17235962.0,15000000.0,بی رنگ
34,1400,4,مرداد,15446.0,NA0000000000000234,ایرانخودرو,پژو206,Hatchback,27679220.0,22000000.0,بی رنگ
54,1400,8,تیر,16371.0,NA0000000000000300,ایرانخودرو,پژو206,Hatchback,28068310.0,22000000.0,بی رنگ
59,1400,29,مرداد,17350.0,NA0000000000000259,ایرانخودرو,پژو206,Sedan,26513357.0,21000000.0,بی رنگ
68,1400,2,مرداد,17491.0,NA0000000000000325,ایرانخودرو,پژو206,Sedan,26908142.0,21000000.0,بی رنگ
53,1400,9,تیر,17741.0,NA0000000000000301,ایرانخودرو,پژو206,Hatchback,27453123.0,22000000.0,بی رنگ
6,1400,5,مرداد,17775.0,NA0000000000000390,ایرانخودرو,پژو206,Sedan,25947789.0,21000000.0,بی رنگ
22,1400,23,تیر,17931.0,NA0000000000000222,سایپا,پراید,Sedan,16721509.0,15000000.0,بی رنگ
18,1400,23,مرداد,17956.0,NA0000000000000346,سایپا,پراید,Sedan,16981738.0,15000000.0,بی رنگ
15,1400,16,تیر,18023.0,NA0000000000000215,سایپا,پراید,Sedan,16629197.0,15000000.0,بی رنگ
1,1400,2,تیر,18177.0,NA0000000000000201,سایپا,پراید,Hatchback,20059011.0,17000000.0,بیرنگ
34,1400,27,شهریور,18192.0,NA0000000000000288,سایپا,پراید,Sedan,16921579.0,15000000.0,بی رنگ
41,1400,20,شهریور,18262.0,NA0000000000000281,سایپا,پراید,Sedan,16839700.0,15000000.0,بی رنگ
5,1400,6,مرداد,18297.0,NA0000000000000391,ایرانخودرو,پژو206,Sedan,26074315.0,21000000.0,بیرنگ
60,1400,30,مرداد,18332.0,NA0000000000000260,ایرانخودرو,پژو206,Sedan,26849310.0,21000000.0,بیرنگ
43,1400,13,مرداد,18383.0,NA0000000000000243,ایرانخودرو,پژو206,Hatchback,24093136.0,22000000.0,بی رنگ
35,1400,5,مرداد,18439.0,NA0000000000000235,ایرانخودرو,پژو206,Hatchback,27689646.0,22000000.0,بی رنگ
55,1400,6,شهریور,18458.0,NA0000000000000267,سایپا,پراید,Hatchback,19937575.0,17000000.0,بیرنگ
67,1400,3,مرداد,18483.0,NA0000000000000326,ایرانخودرو,پژو206,Sedan,27808602.0,21000000.0,بیرنگ
45,1400,17,تیر,18728.0,NA0000000000000309,ایرانخودرو,پژو206,Hatchback,24056175.0,22000000.0,بی رنگ
2,1400,29,شهریور,19112.0,NA0000000000000383,ایرانخودرو,پژو206,Sedan,28726761.0,21000000.0,بیرنگ
10,1400,20,شهریور,19122.0,NA0000000000000374,ایرانخودرو,پژو206,Hatchback,25187050.0,22000000.0,بی رنگ
11,1400,30,مرداد,19264.0,NA0000000000000353,سایپا,پراید,Sedan,16131346.0,15000000.0,بی رنگ
52,1400,22,مرداد,19371.0,NA0000000000000252,ایرانخودرو,پژو206,Sedan,29518050.0,21000000.0,بیرنگ
36,1400,26,تیر,19388.0,NA0000000000000318,ایرانخودرو,پژو206,Sedan,28921927.0,21000000.0,بیرنگ
9,1400,21,شهریور,19407.0,NA0000000000000375,ایرانخودرو,پژو206,Sedan,25724935.0,21000000.0,بی رنگ
40,1400,21,شهریور,19520.0,NA0000000000000282,سایپا,پراید,Sedan,16855890.0,15000000.0,بیرنگ
16,1400,17,تیر,19874.0,NA0000000000000216,سایپا,پراید,Sedan,16956641.0,15000000.0,بیرنگ
44,1400,14,مرداد,19999.0,NA0000000000000244,ایرانخودرو,پژو206,Sedan,25476751.0,21000000.0,بی رنگ
33,1400,3,مرداد,20052.0,NA0000000000000233,ایرانخودرو,پژو206,Hatchback,25446463.0,22000000.0,بی رنگ
55,1400,7,تیر,20355.0,NA0000000000000299,ایرانخودرو,پژو206,Hatchback,26601621.0,22000000.0,بی رنگ
17,1400,24,مرداد,20449.0,NA0000000000000347,سایپا,پراید,Sedan,16528836.0,15000000.0,بیرنگ
51,1400,11,تیر,20593.0,NA0000000000000303,ایرانخودرو,پژو206,Hatchback,24974600.0,22000000.0,بی رنگ
36,1400,6,مرداد,20956.0,NA0000000000000236,ایرانخودرو,پژو206,Hatchback,26793045.0,22000000.0,بی رنگ
44,1400,18,تیر,21291.0,NA0000000000000310,ایرانخودرو,پژو206,Sedan,24606922.0,21000000.0,بی رنگ